{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}
{%- if section.settings.overlay_logo_height == 'adapt' and section.settings.overlay_logo_image != blank -%}
  {%- style -%}
        /* inject an aspect-ratio box for the overlay logo */
        #Banner-{{ section.id }} .banner__overlay-logo-wrapper::before {
          padding-bottom: {{ 1 | divided_by: section.settings.overlay_logo_image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
    .banner__overlay-logo--small  .overlay_logo { max-height:  80px; }
    .banner__overlay-logo--medium .overlay_logo { max-height: 160px; }
    .banner__overlay-logo--large  .overlay_logo { max-height: 240px; }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}
<style>
  @media only screen and (max-width: 600px) {
    video {
   display:none !important;

  }
    .mgt{
       background-color: #201d1d;
       background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/481169885_1137071668208699_7650814850497000652_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=DzKIc85eeNkQ7kNvwHBRptW&_nc_oc=AdkGWNbBK-8h-L1QsnBx7LemIqIgTFJcaA1AtgS7HJWIaZ1uNSFt90cz5u_CA9OVYAA&_nc_zt=23&_nc_ht=scontent-dfw5-1.xx&_nc_gid=nQSI382DKI21gjPHiAZv_w&oh=00_AfH_JtnO0gI5bXEd3G33obrI9MOudx9QhmIB4Ql1dZvIVA&oe=68107598");
       background-repeat: no-repeat;
      /*  background-position: top;*/
      /* background-size: cover;*/



    }
   .overlay_logo{
     width:60%;
     height:60%;
   }
  }
</style>
{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- if section.settings.show_usac_banner %}
{%- endif -%}
{%- comment -%}
  1) "adapt" case: inject an aspect-ratio box for overlay
  2) fixed-size cases: always emit these, scoped to overlay wrapper
{%- endcomment -%}

{%- if section.settings.overlay_logo_height == 'adapt' and section.settings.overlay_logo_image != blank -%}
  {%- style -%}
    /* Aspect-ratio box for overlay logo */
    #Banner-{{ section.id }} .banner__overlay-logo-wrapper::before {
      padding-bottom: {{ 1 | divided_by: section.settings.overlay_logo_image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  /* Fixed heights for overlay logo, always emitted */
  #Banner-{{ section.id }} .banner__overlay-logo-wrapper.banner__overlay-logo--small  .overlay_logo  { max-height:  80px; }
  #Banner-{{ section.id }} .banner__overlay-logo-wrapper.banner__overlay-logo--medium .overlay_logo  { max-height: 160px; }
  #Banner-{{ section.id }} .banner__overlay-logo-wrapper.banner__overlay-logo--large  .overlay_logo  { max-height: 240px; }
{%- endstyle -%}
<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if section.settings.video_background %} video-background{% endif %}"
>
  {%- if section.settings.overlay_video != blank -%}
    <div class="banner__media media video-background mgt">
      {{
        section.settings.overlay_video
        | video_tag: autoplay: true, loop: true, muted: true, class: 'overlay_video_tag'
      }}
    </div>
  {%- endif -%}

  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- elsif section.settings.image_2 == blank and section.settings.video_background == false -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- if section.settings.overlay_logo_image != blank -%}
              <div class="banner__overlay-logo-wrapper banner__overlay-logo--{{ section.settings.overlay_logo_height }}">
                {%- assign ol = section.settings.overlay_logo_image -%}
                {%- assign ol_height = ol.width | divided_by: ol.aspect_ratio -%}
                {{
                  ol
                  | image_url: width: ol.width
                  | image_tag: width: ol.width, height: ol_height, class: 'overlay_logo', alt: 'Overlay Logo'
                }}
              </div>
            {%- endif -%}
            <h2
              class="banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
          {%- when 'custom_button' -%}
            {%- if block.settings.button_label != blank -%}
              {%- liquid
                if block.settings.button_style == 'primary'
                  # Filled button
                  assign btn_text_color = block.settings.button_text_color | default: '#000000'
                  assign btn_bg_color = block.settings.button_background_color | default: '#ffffff'
                  assign btn_hover_text_color = block.settings.button_hover_text_color | default: '#ffffff'
                  assign btn_hover_bg_color = block.settings.button_hover_background_color | default: '#000000'
                else
                  # Outlined button
                  assign btn_text_color = block.settings.button_text_color | default: '#ffffff'
                  assign btn_bg_color = 'transparent'
                  assign btn_hover_text_color = block.settings.button_hover_text_color | default: '#000000'
                  assign btn_hover_bg_color = block.settings.button_background_color | default: '#ffffff'
                endif

                assign btn_border = block.settings.button_border_color | default: '#ffffff'
                assign btn_hover_border = block.settings.button_hover_border_color | default: '#ffffff'
              -%}
              {% render 'custom-button',
                url: block.settings.button_link,
                text: block.settings.button_label,
                style: block.settings.button_style,
                size: block.settings.button_size,
                text_color: btn_text_color,
                background_color: btn_bg_color,
                border_color: btn_border,
                hover_text_color: btn_hover_text_color,
                hover_background_color: btn_hover_bg_color,
                hover_border_color: btn_hover_border,
                font_size: block.settings.button_font_size,
                font_weight: block.settings.button_font_weight,
                font_family: block.settings.button_font_family,
                text_transform: block.settings.button_text_transform,
                letter_spacing: block.settings.button_letter_spacing
              %}
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NDAA Compliance Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_usac_banner",
      "label": "Show NDAA Compliance Banner",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "video",
      "id": "overlay_video",
      "label": "Overlay Video"
    },

    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.content.content"
    },
    {
      "type": "image_picker",
      "id": "overlay_logo_image",
      "label": "Overlay logo image"
    },
    {
      "type": "select",
      "id": "overlay_logo_height",
      "options": [
        {
          "value": "adapt",
          "label": "Auto-aspect (adapt)"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Overlay Logo Height"
    },

    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "custom_button",
      "name": "Custom Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "Primary (solid border)"
            },
            {
              "value": "secondary",
              "label": "Secondary (dashed border)"
            }
          ],
          "default": "primary",
          "label": "Button style"
        },
        {
          "type": "select",
          "id": "button_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Button size"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button background color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button border color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_hover_text_color",
          "label": "Button hover text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_hover_background_color",
          "label": "Button hover background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_hover_border_color",
          "label": "Button hover border color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button Typography"
        },
        {
          "type": "range",
          "id": "button_font_size",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "select",
          "id": "button_font_weight",
          "options": [
            {
              "value": "100",
              "label": "Thin"
            },
            {
              "value": "300",
              "label": "Light"
            },
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "600",
              "label": "Semi Bold"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "900",
              "label": "Black"
            }
          ],
          "default": "600",
          "label": "Font weight"
        },
        {
          "type": "text",
          "id": "button_font_family",
          "label": "Font family",
          "info": "e.g., 'Arial, sans-serif' or 'Georgia, serif'"
        },
        {
          "type": "select",
          "id": "button_text_transform",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            },
            {
              "value": "lowercase",
              "label": "Lowercase"
            },
            {
              "value": "capitalize",
              "label": "Capitalize"
            }
          ],
          "default": "",
          "label": "Text transform"
        },
        {
          "type": "range",
          "id": "button_letter_spacing",
          "min": -2,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}